div[ng-view].ng-enter {
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}
div[ng-view].ng-leave {
    -webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
}

//entrances and exits on results data

.results.ng-move,
.results.ng-enter,
.results.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.results.ng-leave.ng-leave-active,
.results.ng-move,
.results.ng-enter {
  opacity:0;
}

.results.ng-leave,
.results.ng-move.ng-move-active,
.results.ng-enter.ng-enter-active {
  opacity:1;
}
