<div ng-app class="jumbotron" ng-controller="MainCtrl">
  <select name="Team">
    <option value="defaul">Choose Your Team</option>
    <option value="49ers">San Francisco 49ers</option>
    <option value="bears">Chicago Bears</option>
    <option value="benga">Cincinnati Bengals</option>
    <option value="broncos">Denver Broncos</option>
    <option value="browns">Cleveland Browns</option>
    <option value="buccs">Tampa Bay Buccaneers</option>
    <option value="cards">Arizon Cardinals</option>
    <option value="charg">San Diego Chargers</option>
    <option value="chief">Kansas City Chiefs</option>
    <option value="colts">Indianapolis Colts</option>
    <option value="cowbo">Dallas Cowboys</option>
    <option value="dolph">Miami Dolphins</option>
    <option value="eagle">Philidelphia Eagles</option>
    <option value="falco">Atlanta Falcons</option>
    <option value="giant">New York Giants</option>
    <option value="jagua">Jacksonville Jaguars</option>
    <option value="njets">New York Jets</option>
    <option value="lions">Detroit Lions</option>
    <option value="packe">Green Bay Packers</option>
    <option value="panth">Carolina Panthers</option>
    <option value="npats">New England Patriots</option>
    <option value="raide">Oakland Raiders</option>
    <option value="srams">St. Louis Rams</option>
    <option value="raven">Baltimore Ravens</option>
    <option value="redsk">Washington Redskins</option>
    <option value="saint">New Orleans Saints</option>
    <option value="seaha">Seattle Seahawks</option>
    <option value="steel">Pittsburgh Steelers</option>
    <option value="texan">Houston Texans</option>
    <option value="titan">Tennessee Titans</option>
    <option value="vikin">Minnesota Vikings</option>
  </select>

  <select name="time">
    <option value="default">Choose Your Time Zone</option>
    <option value="East">Eastern (New York, NY)  UTC-5</option>
    <option value="Cent">Central (Dallas, TX)  UTC-6</option>
    <option value="Moun">Mountain (Denver, CO) UTC-7</option>
    <option value="West">Pacific (Los Angeles, CA) UTC-8</option>
  </select>

  <input type="submit" value="Leh Go">
  <p><a class="btn btn-lg btn-success" ng-href="#/">Leh Go!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">

    {{current.weeks[0].games[0]}}

</div>
