<div ng-app ng-controller="MainCtrl">

  <h1>Select your team to view their 2016 regular season schedule</h1>

  <select ng-model="teamname">
    <option value="defaul">Choose Your Team</option>
    <option value="SF">San Francisco 49ers</option>
    <option value="CHI">Chicago Bears</option>
    <option value="CIN">Cincinnati Bengals</option>
    <option value="BUF">Buffalo Bills</option>
    <option value="DEN">Denver Broncos</option>
    <option value="CLE">Cleveland Browns</option>
    <option value="TB">Tampa Bay Buccaneers</option>
    <option value="ARI">Arizon Cardinals</option>
    <option value="SD">San Diego Chargers</option>
    <option value="KC">Kansas City Chiefs</option>
    <option value="IND">Indianapolis Colts</option>
    <option value="DAL">Dallas Cowboys</option>
    <option value="MIA">Miami Dolphins</option>
    <option value="eagle">Philidelphia Eagles</option>
    <option value="ATL">Atlanta Falcons</option>
    <option value="NYG">New York Giants</option>
    <option value="JAC">Jacksonville Jaguars</option>
    <option value="NYJ">New York Jets</option>
    <option value="DET">Detroit Lions</option>
    <option value="GB">Green Bay Packers</option>
    <option value="CAR">Carolina Panthers</option>
    <option value="NE">New England Patriots</option>
    <option value="OAK">Oakland Raiders</option>
    <option value="LA">Los Angeles Rams</option>
    <option value="BAL">Baltimore Ravens</option>
    <option value="WAS">Washington Redskins</option>
    <option value="NO">New Orleans Saints</option>
    <option value="SEA">Seattle Seahawks</option>
    <option value="PIT">Pittsburgh Steelers</option>
    <option value="HOU">Houston Texans</option>
    <option value="TEN">Tennessee Titans</option>
    <option value="MIN">Minnesota Vikings</option>
  </select>

  <h2>Results will automatically in the time zone based on your computer settings.</h2>

  <button ng-click="selectteam(teamname)">Leh Go!</button>

</div>
