<div class="jumbotron">
  <select name="Team">Choose Your Team
    <option value="49ers">San Francisco 49ers</option>
    <option value="Bears">Chicago Bears</option>
    <option value="Bengals">Cincinnati Bengals</option>
    <option value="Broncos">Denver Broncos</option>
    <option value="Browns">Cleveland Browns</option>
    <option value="Bills">Tampa Bay Buccaneers</option>
    <option value="Bills">Arizon Cardinals</option>
    <option value="Bills">San Diego Chargers</option>
    <option value="Bills">Kansas City Chiefs</option>
    <option value="Bills">Indianapolis Colts</option>
    <option value="Bills">Dallas Cowboys</option>
    <option value="Bills">Miami Dolphins</option>
    <option value="Bills">Philidelphia Eagles</option>
    <option value="Bills">Atlanta Falcons</option>
    <option value="Bills">New York Giants</option>
    <option value="Bills">Jacksonville Jaguars</option>
    <option value="Bills">New York Jets</option>
    <option value="Bills">Detroit Lions</option>
    <option value="Bills">Green Bay Packers</option>
    <option value="Bills">Carolina Panthers</option>
    <option value="Bills">New England Patriots</option>
    <option value="Bills">Oakland Raiders</option>
    <option value="Bills">St. Louis Rams</option>
    <option value="Bills">Baltimore Ravens</option>
    <option value="Bills">Washington Redskins</option>
    <option value="Bills">New Orleans Saints</option>
    <option value="Bills">Seattle Seahawks</option>
    <option value="Bills">Pittsburgh Steelers</option>
    <option value="Bills">Houston Texans</option>
    <option value="Bills">Tennessee Titans</option>
    <option value="Vikings">Minnesota Vikings</option>
  </select>

  <select name="Time">Choose Your Time Zone
    <option value="East">East Coast, UTCx</option>
    <option value="MidEast">Mid East, City Example UTCx</option>
    <option value="MidWest">Mid West, City Example, UTCx</option>
    <option value="West">West Coast, City Example, UTCx</option>
  </select>

  <input type="submit" value="Leh Go">
  <p><a class="btn btn-lg btn-success" ng-href="#/">Leh Go!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <dl>
    <dd>{{nflDocketApp | json}}</dd>
  </dl>
</div>
